---
layout: default

features:
- icon: fa-diamond
  title: Portitor ullamcorper
  excerpt: Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
- icon: fa-paper-plane
  title: Sapien veroeros
  excerpt: Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
- icon: fa-rocket
  title: Quam lorem ipsum
  excerpt: Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
- icon: fa-signal
  title: Sed magna finibus
  excerpt: Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.

posts:
- image: /images/pic01.jpg
  title: Interdum aenean
  excerpt: Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
  url: "#"
- image: /images/pic02.jpg
  title: Nulla amet dolore
  excerpt: Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
  url: "#"
- image: /images/pic03.jpg
  title: Tempus ullamcorper
  excerpt: Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
  url: "#"
- image: /images/pic04.jpg
  title: Sed etiam facilis
  excerpt: Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
  url: "#"
- image: /images/pic05.jpg
  title: Feugiat lorem aenean
  excerpt: Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
  url: "#"
- image: /images/pic06.jpg
  title: Amet varius aliquam
  excerpt: Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
  url: "#"
---

{% comment %}

	Editorial by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Home page

	Description:

		Your site's home page.

{% endcomment %}

<!-- Banner -->
	<section id="banner">
		<div class="content">
			<header>
				<h1>Hi, I’m Editorial<br />
				by Pixelarity</h1>
				<p>A urna sed morbi natoque enim cubilia</p>
			</header>
			<p>Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam facilisis ante interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet egestas mauris. Ut magna finibus nisi nec lacinia. Nam maximus erat id euismod egestas. Pellentesque sapien ac quam. Lorem ipsum dolor sit nullam.</p>
			<ul class="actions">
				<li><a href="#" class="button big">Learn More</a></li>
			</ul>
		</div>
		<span class="image object">
			<img src="{{ site.baseurl }}/images/pic10.jpg" alt="" />
		</span>
	</section>

<!-- Section -->
	<section>
		<header class="major">
			<h2>Erat lacinia</h2>
		</header>
		{% include components/features.html features=page.features %}
	</section>

<!-- Section -->
	<section>
		<header class="major">
			<h2>Ipsum sed dolor</h2>
		</header>
		{% include components/posts.html posts=page.posts %}
	</section>