---
layout: default

features:
- icon: fa-rss-square
  title: Blog
  excerpt: Sabe aquele blog maroto do Jeff Barr’s ? Agora você pode ler em português !
  url: "blog/"
- icon: fa-book
  title: Tutoriais
  excerpt: Tutoriais que vão direto ao ponto ! Mão na massa !
  url: "tutoriais.html"
- icon: fa-newspaper-o
  title: Newsletter
  excerpt: Notícias atualizadas, tendências do mundo cloud, eventos e muito mais. Assine a newsletter e fique por dento !
  url: "news.html"
- icon: fa-trophy
  title: 99 Challenge
  excerpt: Que tal tirar uma das certificações da AWS de graça? Esta é a proposta do 99 Challenge, certificar 99 pessoas em AWS até o final de 2017 !
  url: "99challenge.html"


posts:
- image: /images/meetuplogo.png
  title: Meetups
  excerpt: Comunidades Cloud pelo Brasil. Participe, contribua e fortaleça sua comunidade local !
  url: "meetups.html"
- image: /images/certificados.jpg
  title: Certificados
  excerpt: Se dedicou, passou, entrou no Hall of Fame ! Lista de profissionais certificados !
  url: "certificados.html"
- image: /images/oportunidades.png
  title: Oportunidades
  excerpt: Se você sabe que Nuvem não é apenas aquela fumacinha branca lá no céu, existe um mundo de oportunidades para você. Encontre a sua aqui !
  url: "oportunidades.html"
- image: /images/sobre.png
  title: Sobre
  excerpt: Como eu sugiro, reclamo, contribuo com o AWSHUB? Entre em contato conosco !
  url: "sobre.html"


---

{% comment %}


	License: pixelarity.com/license

	Name:

		Home page

	Description:

		Your site's home page.

{% endcomment %}

<!-- Banner -->
	<section id="banner">
		<div class="content">
			<header>
				<h1>Bem vindos ao AWSHUB !</h1>
				<p>É hora de se conectar à Comunidade AWS no Brasil !!! </p>
			</header>
			<p>Blog, Tutoriais, Newsletter, Meetups, 99Challenge, Certificados, Oportunidades. Tudo em um só lugar !</p>

		</div>
		<span class="image object">
			<img src="{{ site.baseurl }}/images/nuvemawshome.png" alt="" />
		</span>
	</section>

<!-- Section -->
	<section>
		<header class="major">
			<h2>Aprenda +</h2>
		</header>
		{% include components/features.html features=page.features %}
	</section>

<!-- Section -->
	<section>
		<header class="major">
			<h2>Comunidade</h2>
		</header>
		{% include components/posts.html posts=page.posts %}
	</section>
