---
layout: default


posts:
- image: /images/meetuplogo.png
  title: Meetups
  excerpt: Comunidades Cloud pelo Brasil. Participe, contribua e fortaleça sua comunidade local !
  url: "meetups.html"
- image: /images/99home.png
  title: 99 Challenge
  excerpt: Que tal tirar uma das certificações mais reconhecidas do mercado? Esta é a proposta do 99 Challenge, ajudar a certificar 99 pessoas da comunidade AWS até o final de 2017 ! Aceita o desafio?
  url: "99challenge.html"
- image: /images/certificados.jpg
  title: Certificados
  excerpt: Se dedicou, passou, entrou no Hall of Fame ! Lista de profissionais certificados !
  url: "certificados.html"
- image: /images/oportunidades.png
  title: Oportunidades
  excerpt: Se você sabe que Nuvem não é apenas aquela fumacinha branca lá no céu, existe um mundo de oportunidades para você. Encontre a sua aqui !
  url: "oportunidades.html"
- image: /images/redshift.png
  title: Tutoriais
  excerpt: Em breve, tutoriais que vão direto ao ponto ! Acesse e nos envie o seu!
  url: "tutoriais.html"
- image: /images/sobre.png
  title: Sobre
  excerpt: Como eu sugiro, reclamo, contribuo com o AWSHUB? Entre em contato conosco !
  url: "sobre.html"


---

{% comment %}

Posts da Home removidos temporariamente

- icon: fa-rss-square
  title: Blog
  excerpt: Sabe aquele blog maroto do Jeff Barr’s ? Agora você pode ler em português !
  url: "blog/"
- icon: fa-newspaper-o
  title: Newsletter
  excerpt: Notícias atualizadas, tendências do mundo cloud, eventos e muito mais. Assine a newsletter e fique por dento !
  url: "news.html"
  features:

  - icon: fa-book
    title:
    excerpt:
    url: ""


	License: pixelarity.com/license

	Name:

		Home page

	Description:

		Your site's home page.

{% endcomment %}

<!-- Banner -->
	<section id="banner">
		<div class="content">
			<header>
				<h1>Bem vindos ao AWSHUB !</h1>
				<p>Conecte-se  à Comunidade AWS no Brasil !!! </p>
			</header>
      <p>O objetivo do AWS HUB é concentrar toda a comunidade AWS no Brasil.</p>
      <p>Nossas primeiras propostas são: Blog(Tradução do Blog Oficial da AWS, em breve), Tutoriais, Newsletter Mensal(breve), Lista e divulgação dos meetups,
        Desafio de certificações (ex: 99Challenge), Galeria dos certificados e
        Divulgação de oportunidades. Tudo em um só lugar !</p>
      <p>Tem alguma idéia nova? Pode colaborar? Entre em contato conosco!</p>
		</div>
		<span class="image object">
			<img src="{{ site.baseurl }}/images/nuvembr.jpeg" alt="" />
		</span>
	</section>

<!-- Section -->
	<!--<section>
		<header class="major">
			<h2>Aprenda +</h2>
		</header>
		{% include components/features.html features=page.features %}
	</section>

<!-- Section -->
	<section>
		<header class="major">
			<h2>Comunidade</h2>
		</header>
		{% include components/posts.html posts=page.posts %}
	</section>
