///
/// Editorial by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Icon */

	.icon {
		@include icon;
		border-bottom: none;
		position: relative;

		> .label {
			display: none;
		}
	}

.icon ul {
	margin: 0;
	padding: 0;
	text-align: center;
}

.icon li {
		list-style: none;
		display: inline;
		padding-left: 10px;
	}

.icon li  a {
	text-decoration: none;
	display: inline-block;
	text-align: center;
}
