---
layout: page
title: Blog
---

{% comment %}

	Editorial by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Blog Post list page

	Description:

		This is a simple list of paginated recent posts.

	Example:

		You can replace the for-loop with any of the included components:

		{% include components/features.html features=paginator.posts %}

{% endcomment %}

<!-- Post list -->
	{% for post in paginator.posts %}

		<article>
			<header>
				<h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
				<p>{{ post.date | date: "%B %-d, %Y" }}</p>
			</header>
			{{ post.excerpt }}
			<ul class="actions">
				<li><a href="{{ site.baseurl }}{{ post.url }}" class="button">Read More</a></li>
			</ul>
		</article>

		{% unless forloop.last %}
			<hr class="major" />
		{% endunless %}

	{% endfor %}

	<!-- Pagination -->
		{% if paginator.total_pages > 1 %}

			<hr class="major" />
			<ul class="pagination">

				{% if paginator.previous_page %}
					<li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button">Prev</a></li>
				{% else %}
					<li><span class="button disabled">Prev</span></li>
				{% endif %}

				{% for page in (1..paginator.total_pages) %}

					{% if page == paginator.page %}
						{% assign class = 'page active' %}
					{% else %}
						{% assign class = 'page' %}
					{% endif %}

					{% if page == 1 %}
						{% assign href = site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: '/page:num', '' %}
					{% else %}
						{% assign href = site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page %}
					{% endif %}

					<li><a href="{{ href }}" class="{{ class }}">{{ page }}</a></li>

				{% endfor %}

				{% if paginator.next_page %}
					<li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button">Next</a></li>
				{% else %}
					<li><span class="button disabled">Next</span></li>
				{% endif %}

			</ul>

		{% endif %}