{% comment %}

	Editorial by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Posts

	Description:

		Generates a grid of content from post-like elements.

	Example:

		---
		my_posts_array:
		- image: /images/pic03.jpg
			title: Magna feugiat lorem
			excerpt: Nunc blandit nisi ligula magna dolor sit.
			url: http://example.com
		- image: /images/pic01.jpg
			title: Lorem ipsum dolor
			excerpt: Nunc blandit nisi ligula magna dolor sit.
			url: http://example.com
		---

		{% include components/posts.html posts=page.my_posts_array %}

{% endcomment %}

<!-- Posts -->
	<div class="posts" style="margin-left: 0px;">


			<table vertical-align="center">

				<tr>
				<th>
						Nome
				</th>
				<th style="text-align:center">
						Certificação<br /> Associate
				</th>
				<th style="text-align:center">
						Certificação<br /> Professional
				</th>
				<th style="text-align:center">
						Certificação<br /> Expert
				</th>
				<th style="text-align:center">
						Redes<br /> Sociais
				</th>
				<th style="text-align:center">
						Verificado
				</th>
			  </tr>

		{% assign sorted_posts = (include.posts | sort: 'nome') %}
		{% for post in sorted_posts %}



			<tr>
				<td>
					{{ post.nome }}
				</td>
				<td style="text-align:center">
					{% if post.associate %}

							{% if post.associate contains 'developer' %}
								<span><b>D&nbsp;</b></span>
							{% endif %}
							{% if post.associate contains 'sysops' %}
								<span><b>S&nbsp;</b></span>
							{% endif %}
							{% if post.associate contains 'architect' %}
								<span><b>A&nbsp;</b></span>
							{% endif %}

					{% endif %}
				</td>
				<td style="text-align:center">
					{% if post.professional %}

						<ul class="icons">
							{% if post.professional contains 'architect' %}
								<span><b>A&nbsp;</b></span>
							{% endif %}
							{% if post.professional contains 'devops' %}
								<span><b>D&nbsp;</b></span>
							{% endif %}
						</ul>


					{% endif %}

				</td>
				<td style="text-align:center">
					{% if post.expert %}

						<center>
							{% if post.expert contains 'bigdata' %}
								<span title="Big Data"><b>B&nbsp;</b></span>
							{% endif %}
							{% if post.expert contains 'security' %}
								<span title="Security"><b>S&nbsp;</b></span>
							{% endif %}
							{% if post.expert contains 'networking' %}
								<span title="Advanced Networking"><b>N&nbsp;</b></span>
							{% endif %}
						</center>

					{% endif %}
				</td>
				<td style="text-align:center">

					<ul class="icons">


					{% if post.twitter %}

						<li><a href="{{ post.twitter }}" class="icon fa-twitter"><span class="label">Twitter</span></a></li>

					{% endif %}
					{% if post.linkedin %}

						<li><a href="{{ post.linkedin }}" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>

					{% endif %}
					{% if post.github %}

						<li><a href="{{ post.github }}" class="icon fa-github"><span class="label">GitHub</span></a></li>

					{% endif %}
					</ul>
				</td>
				<td style="text-align:center">
					{% if post.verified %}

						<i class="fa fa-check-circle" aria-hidden="true"></i>

					{% endif %}
				</td>
			</tr>


		{% endfor %}
			</table>

			<div>
				 Legenda:
				 <ul>
					<li>Associate:
					<ul>
						<li>A - Solutions Architect</li>
						<li>S - Sysops Administrator</li>
						<li>D - Developer</li>
					</ul></li>
					<li>Professional:
					<ul>
						<li>A - Solutions Architect</li>
						<li>D - Devops Engineer</li>
					</ul></li>
					<li>Expert
					<ul>
						<li>B - Big Data</li>
						<li>N - Advanded Networking</li>
						<li>S - Security</li>
					</ul></li>
				 </ul>
			</div>
	</div>
