{% comment %}

	Editorial by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Posts

	Description:

		Generates a grid of content from post-like elements.

	Example:

		---
		my_posts_array:
		- image: /images/pic03.jpg
			title: Magna feugiat lorem
			excerpt: Nunc blandit nisi ligula magna dolor sit.
			url: http://example.com
		- image: /images/pic01.jpg
			title: Lorem ipsum dolor
			excerpt: Nunc blandit nisi ligula magna dolor sit.
			url: http://example.com
		---

		{% include components/posts.html posts=page.my_posts_array %}

{% endcomment %}

<!-- Posts -->
	<div class="posts" style="margin-left: 0px;">


			<table vertical-align="center">

				<tr>
				<th>
						Nome
				</th>
				<th>
						Certificação<br /> Associate
				</th>
				<th>
						Certificação<br /> Professional
				</th>
				<th>
						Certificação<br /> Expert
				</th>
				<th>
						Redes<br /> Sociais
				</th>
				<th>
						Verificado
				</th>
			  </tr>

		{% assign sorted_posts = (include.posts | sort: 'nome') %}
		{% for post in sorted_posts %}



			<tr>
				<td>
					{{ post.nome }}
				</td>
				<td>
					{% if post.associate %}

						<center>
							{% if post.associate contains 'developer' %}
								<i class="fa fa-certificate" aria-hidden="true"></i>
							{% endif %}
							{% if post.associate contains 'sysops' %}
								<i class="fa fa-certificate" aria-hidden="true"></i>
							{% endif %}
							{% if post.associate contains 'architect' %}
								<i class="fa fa-certificate" aria-hidden="true"></i>
							{% endif %}
						</center>

					{% endif %}
				</td>
				<td>
					{% if post.professional %}

						<center>
							{% if post.professional contains 'architect' %}
								<i class="fa fa-certificate" aria-hidden="true"></i>
							{% endif %}
							{% if post.professional contains 'devops' %}
								<i class="fa fa-certificate" aria-hidden="true"></i>
							{% endif %}
						</center>

					{% endif %}

				</td>
				<td>
					{% if post.expert %}

						<center>
							{% if post.expert contains 'bigdata' %}
								<i class="fa fa-certificate" aria-hidden="true"></i>
							{% endif %}
							{% if post.expert contains 'security' %}
								<i class="fa fa-certificate" aria-hidden="true"></i>
							{% endif %}
							{% if post.expert contains 'networking' %}
								<i class="fa fa-certificate" aria-hidden="true"></i>
							{% endif %}
						</center>

					{% endif %}
				</td>
				<td>


					{% if post.twitter %}

						<a href="{{ post.twitter }}" class="icon fa-twitter"><span class="label">Twitter</span></a>

					{% endif %}
					{% if post.linkedin %}

						<a href="{{ post.linkedin }}" class="icon fa-linkedin"><span class="label">Linkedin</span></a>

					{% endif %}
					{% if post.github %}

						<a href="{{ post.github }}" class="icon fa-github"><span class="label">GitHub</span></a>

					{% endif %}
				</td>
				<td>
					{% if post.verified %}

						<center><i class="fa fa-check-circle" aria-hidden="true"></i></center>

					{% endif %}
				</td>
			</tr>


		{% endfor %}
			</table>
	</div>
