{% comment %}

	Editorial by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Sidebar

	Description:

		Site navigation, related content, and contact info.

	Example:

		{% include layout/sidebar.html %}

{% endcomment %}

<!-- Sidebar -->
	<div id="sidebar">
		<div class="inner">

			<!-- Search -->
			<!--	<section id="search" class="alt">
					<form method="post" action="#">
						<input type="text" name="query" id="query" placeholder="Search" />
					</form>
				</section>
			-->
			<!-- Menu -->
				<nav id="menu">
					<header class="major">
						<h2>Menu</h2>
					</header>
					<ul>
						<li><a href="{{ site.baseurl }}/">Homepage</a></li>
						<li><a href="{{ site.baseurl }}/blog">Blog</a></li>
						<li><a href="{{ site.baseurl }}/tutoriais.html">Tutoriais</a></li>
						<li><a href="{{ site.baseurl }}/news.html">Newsletter</a></li>
						<li><a href="{{ site.baseurl }}/meetups.html">Meetups pelo Brasil</a></li>
						<li><a href="{{ site.baseurl }}/99challenge.html">99Challenge</a></li>
						<li><a href="{{ site.baseurl }}/certificados.html">Certificados</a></li>
					<!-- 	<li>
							<span class="opener">Another Submenu</span>
							<ul>
								<li><a href="#">Lorem Dolor</a></li>
								<li><a href="#">Ipsum Adipiscing</a></li>
								<li><a href="#">Tempus Magna</a></li>
								<li><a href="#">Feugiat Veroeros</a></li>
							</ul>
						</li> -->
						<!--<li><a href="#">Projetos</a></li>-->
						<li><a href="{{ site.baseurl }}/oportunidades.html">Oportunidades</a></li>
						<li><a href="{{ site.baseurl }}/sobre.html">Sobre</a></li>
					</ul>
				</nav>

			<!-- Section -->
				<section>
					<header class="major">
						<h2>Próximos eventos da comunidade AWS</h2>
					</header>
					<div class="mini-posts">
						<article>
							<a href="https://www.meetup.com/Sao-Paulo-Amazon-Web-Services-AWS-Meetup/events/236740815/" class="image"><img src="{{ site.baseurl }}/images/meetup.jpeg" alt="" /></a>
							<p><a href="https://www.meetup.com/Sao-Paulo-Amazon-Web-Services-AWS-Meetup/events/236740815/">12º Meetup de Amazon Web Services em São Paulo.</a></p>
						</article>
						<!--<article>
							<a href="#" class="image"><img src="{{ site.baseurl }}/images/pic08.jpg" alt="" /></a>
							<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
						</article>
						<article>
							<a href="#" class="image"><img src="{{ site.baseurl }}/images/pic09.jpg" alt="" /></a>
							<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
						</article>-->
					</div>
					<ul class="actions">
						<li><a href="{{ site.baseurl }}/meetups.html" class="button">Mais</a></li>
					</ul>
				</section>

			<!-- Section -->
				<section>
					<header class="major">
						<h2>Contato</h2>
					</header>
					<p>Dúvidas e sugestões sobre o AWS Hub? Entre em contato conosco.</p>
					<ul class="contact">
						<li class="fa-envelope-o"><a href="#">awsmeetup at gmail.com</a></li>

					</ul>
				</section>

			<!-- Footer -->
				<footer id="footer">
					<p class="copyright">&copy; Untitled. All rights reserved.</p>
				</footer>

		</div>
	</div>
