---
layout: page
---

{% comment %}

	Editorial by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Blog Post layout

	Description:

		A layout for individual Blog Posts.

	Example:

		---
		layout: post
		---

{% endcomment %}

<header>
	<h1>{{ page.title }}</h1>
	<p>{{ page.date | date: "%B %-d, %Y" }}</p>
</header>

{% if page.image %}
	<span class="image fit">
		<img src="{{ site.baseurl }}{{ page.image }}" alt="{{ page.title }}">
	</span>
{% endif %}

{{ content }}